<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @include('partials/navbar')

  @!section('body')

    <footer class="footer">
    </footer>
  </body>
</html>
